
.main-container {
    width: 100%;
    max-width: 1200px; /* Set a max-width for all content */
    margin: 0 auto; /* Center the content */
    padding: 0 15px; /* Optional: for better spacing on smaller screens */
}


body {
    background-color: white;
}

.logo {
    width: 100px;
    height: auto;
    margin-right: 20px; /* Add 20px of space to the right of the logo */
}

.jumbotron {
    background-color: rgb(189, 69, 69);
}
.jumbo-image-home {
    width: 600px;
    height: auto; 
    align-content: center;
}

.images-1 {
    width: 500px;
    height: auto; 
    align-content: center;
}